<!DOCTYPE html>
<html>
  <body>
    <header>
      <h1>Foo News</h1>
    </header>
    <main>
      <article>
        <h1><%= foo.title %></h1>
        <p>Published on: <%= foo.published %></p>
        <p>Author: <%= foo.author %></p>
        <p><%= foo.content %></p>
      </article>
    </main>
  </body>
</html>
